<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>dev.codexremote.web</string>

  <key>ProgramArguments</key>
  <array>
    <string>/bin/zsh</string>
    <string>__WEB_LAUNCHER__</string>
  </array>

  <key>EnvironmentVariables</key>
  <dict>
    <key>CODEXREMOTE_API_URL</key>
    <string>__CODEXREMOTE_API_URL__</string>
    <key>CODEXREMOTE_ENV_FILE</key>
    <string>__ENV_FILE__</string>
    <key>NODE_BIN</key>
    <string>__NODE_BIN__</string>
    <key>PATH</key>
    <string>__PATH__</string>
  </dict>

  <key>WorkingDirectory</key>
  <string>__HOME_DIR__</string>

  <key>RunAtLoad</key>
  <true/>

  <key>KeepAlive</key>
  <true/>

  <key>StandardOutPath</key>
  <string>__LOG_DIR__/web.log</string>

  <key>StandardErrorPath</key>
  <string>__LOG_DIR__/web.log</string>
</dict>
</plist>
